annotated-types==0.7.0
bleak==0.21.1
certifi==2024.6.2
charset-normalizer==3.3.2
commonmark==0.9.1
construct==2.10.70
dbus-fast==2.22.1
idna==3.7
ifaddr==0.2.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-protobuf==3.6.0
-e git+https://github.com/gopro/OpenGoPro.git@28efd7c0d9e1bc43343bed5274cf74f84a2cded1#egg=open_gopro_tutorials&subdirectory=demos/python/tutorial
open_gopro==0.16.1
packaging==21.3
pexpect==4.9.0
protobuf==3.20.3
ptyprocess==0.7.0
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pyparsing==3.1.2
pyserial==3.5
pytz==2024.1
requests==2.32.3
rich==12.6.0
types-protobuf==5.27.0.20240626
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.2
wrapt==1.16.0
zeroconf==0.132.2
